#salida{
  transform: scale(2.1);
  transition: 5s;
  background-color: rgb(35, 205, 18);
  border-radius: 30px;
  border: 6px solid transparent;
  animation: borde 0.5s infinite;
}

#salida input{
  border-radius: 30px;
  color: green;
  border: 6px solid transparent;
  animation: borde 0.5s infinite;
}
.frmdatos{
  box-shadow: 0px 0px 20px 5px green;
  background-color: green;
  border: 5px solid yellowgreen;
}
@keyframes borde{
0% {
  border-color: blue;
    }
    50% {
        border-color: green;
    }
    75% {
        border-color: orange;
    }
    100% {
        border-color: blue;
    }
}
#body{
  background-image: url(../img/apro.gif);
}
.botones{
  padding-bottom: 50px;
}
